 header{
    background: white;
    text-align:center;
    padding: 10px;
}

.cabecalho{
    display: flex;
    margin: 0;
    gap:10px;
    font-size: 130%;
}

body{
    background-color: white;
    margin:0%;
}

main{
    background: white;
    padding:20px;
    margin:0 10%;
    height: auto;
}

p{
    font-size: large;
    padding:10px;
}

.corpo{
    display:flex;
    font-size: large;
}

.corpo p{
    padding: 15px;
}

footer{
    margin:20px 0 0 0;
    padding:5px;
    background: aqua;
    text-align: left;
}
